*, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  color: white;
}

body {
  background-color: #252525;
}

.no-log {
  text-align: center;
}

.main-container {
  max-width: 920px;
  margin: 0 auto;
}

h1, h3, h4 {
  overflow: hidden;
}

body * {
  font-family: "Roboto", sans-serif;
}

header.pagina-logo {
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 45px;
  z-index: 4;
  box-shadow: #111 0px -2px 8px;
  background-color: black;
}
header.pagina-logo h1 a {
  font-family: sans-serif;
}
header.pagina-logo nav.about-barras {
  position: absolute;
  right: 0.5rem;
  cursor: pointer;
  height: 100%;
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
}
header.pagina-logo nav.about-barras img.barras {
  height: 20px;
  filter: invert(1);
}
header.pagina-logo nav.about-barras .hide {
  display: none;
}

section.extra {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-color: white;
  position: fixed;
  padding: 0.5rem 1rem;
  top: 45px;
  z-index: 2;
  right: 100vw;
}
section.extra .extra-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}
section.extra .extra-links a {
  font-size: 1.2rem;
  text-transform: uppercase;
}
section.extra .extra-links > * {
  margin-bottom: 1rem;
}
section.extra .extra-links:last-child {
  margin-bottom: 0;
}
section.extra > a {
  display: block;
}
section.extra p.personal {
  margin-top: 2rem;
}

section.extra.initial-pos {
  right: 0px;
}

@media (min-width: 650px) {
  section.extra {
    height: fit-content;
    width: fit-content;
    width: 200px;
  }
  section.extra p.personal {
    display: none;
  }

  section.extra.initial-pos {
    right: 0;
  }
}
main {
  padding: 1rem;
}

.notas-container {
  margin: 1rem 0;
}
.notas-container .nota-li {
  border-radius: 7px;
  padding: 0.75rem;
  width: 47%;
  margin-bottom: 10px;
  color: black;
}
.notas-container .nota-li a {
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 800;
}
.notas-container .nota-li a h2 {
  color: black;
}
.notas-container .nota-li a p {
  text-align: right;
  margin-top: 0.75rem;
  color: #373c3e;
}

@media (min-width: 700px) {
  .notas-container .nota-li {
    width: 32%;
  }
  .notas-container .nota-li a p {
    font-size: 1.4rem;
  }
  .notas-container .nota-li:nth-child(1n+0) {
    background-color: #ffab91;
  }
  .notas-container .nota-li:nth-child(2n+0) {
    background-color: #ffcc80;
  }
  .notas-container .nota-li:nth-child(3n+0) {
    background-color: #e7ed9b;
  }
  .notas-container .nota-li:nth-child(4n+0) {
    background-color: #cf94da;
  }
  .notas-container .nota-li:nth-child(5n+0) {
    background-color: #81deea;
  }
}
div.add-note {
  background: white;
  width: fit-content;
  padding: 0.75rem;
  border-radius: 41px;
  position: fixed;
  bottom: 2rem;
  right: 3rem;
}
div.add-note img {
  height: 35px;
}

.nota-detail .nota-detail-header {
  margin: 1rem 0;
}
.nota-detail .date-published {
  color: #cfcfcf;
}
.nota-detail .nota-texto-container {
  padding: 1rem 0;
}

section.extra * {
  color: black;
}

.helptext {
  display: none;
}

section.register-section .register-header {
  padding-bottom: 1rem;
  border-bottom: 1px solid white;
  margin-bottom: 1rem;
}
section.register-section .register-header h2 {
  margin-bottom: 0.5rem;
}
section.register-section form {
  max-width: 300px;
  margin: 0 auto;
}
section.register-section form p {
  margin-bottom: 1rem;
}
section.register-section form p label {
  display: block;
  margin-bottom: 0.25rem;
  position: relative;
}

input {
  color: black;
  padding: 0.25rem;
  width: 100%;
}

input.signup-button, input.submit-note-button {
  background-color: black;
  border: none;
  color: white;
  padding: 0.75rem;
  border-radius: 10px;
  cursor: pointer;
}

.nota-section .form-nota-section form {
  max-width: 420px;
  margin: 0 auto;
  margin-top: 3rem;
}
.nota-section .form-nota-section .input-field {
  color: black;
  width: 100%;
  padding: 0.5rem;
}
.nota-section .form-nota-section label {
  display: none;
}

form {
  max-width: 420px;
  margin: 0 auto;
  margin-top: 3rem;
}

.input-field {
  color: black;
  width: 100%;
  padding: 0.5rem;
}

label {
  display: none;
}

.inside-footer {
  max-width: 920px;
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=style8.css.map */
