*, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
  }

h1,h3,h4{
    overflow: hidden;
}

header{
    //background-color: #248bf5;
    position: fixed;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45px;
    z-index: 4;
    box-shadow: #111 10px 10px 10px;

    nav.about-barras{
        
        position: absolute;
        right: 0.5rem;
        cursor: pointer;

        img.barras{
            height: 20px;
        }

        .hide{
			display: none;
		}
    }
}

main.notas-container{
    padding: 1rem;
    margin-top: 45px;

    h4.no-log{
        color: #555;
    }

    div.notas-header{
        display: flex;
        justify-content: space-between;
        margin: 1rem 0;
    }

    ul.notas-container{

        li{
            list-style: none;
            display: flex;
            margin-bottom: 0.2rem;

            a{
                text-decoration: none;
                padding-top: 0.6rem;
                padding-bottom: 0.6rem;
                padding-left: 0.6rem;
                display: flex;
                flex-grow: 1;
                color: #111;
                background-color: #efefef;
                font-size: 1.09rem;
                font-weight: 700;
                border-radius: 17px;
                border-top-left-radius: 0px;
                border-bottom-right-radius: 0px;

                &:hover{
                    background-color: #248df5ab;
                }
            }
        }
    }

    article.nota-detail{
        h2.nota-titulo{
            color: black;
            font-size: 2rem;

        }

        div.nota-detail-header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            a.borrar-link{
                min-width: 60px;
                text-align: end;
            }
        }

        h5.date-published{
            color: #666;
        }

        div.nota-texto-container{

            min-height: 100%;
            p.nota-texto{
                font-size: 1.05rem;
                color: #333;
                margin-top: 1rem;
            }
        }
    }
}


.login-link, .crear-link, .borrar-link, .atras-link, .logout-link, .portafolio-link, .mis-notas-link{
    text-decoration: none;
    color: #248bf5;
}

.crear-link, .borrar-link{
    text-decoration: underline;
}

.notas-link{
    color: black;
    text-decoration: none;
}

section.extra{
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    background-color: white;
    position: fixed;
    padding: 0.5rem 1rem;
    top: 45px;
    z-index: 2;
    left: 100vw;
    transition: .5s ease-in;

    >a{
        display: block;
    }

    p.personal{
        margin-top: 2rem;
    }
}

section.extra.initial-pos{
    left: 0px;
}

@media only screen and (min-width:650px){
    div.iniciar-sesion{
      position: absolute;
      right: 60px;
      padding: 5px 13px;
      background: blue;
      color: white;
  
      a{
        color: white;
      text-decoration: none;
      }
    }
  }