*, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    color: white;
  }

body{
    background-color: #252525;
}

.no-log{
    text-align: center;
}

.main-container{
    max-width: 920px;
    margin: 0 auto;
}

h1, h3, h4 {
    overflow: hidden;
  }
  
  body * {
    font-family: "Roboto", sans-serif;
  }

  
header.pagina-logo{
    //background-color: #248bf5;
    position: sticky;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45px;
    z-index: 4;
    box-shadow: #111 0px -2px 8px;
    background-color: black;

    h1{

        a{
            font-family: sans-serif;
        }
    }

    nav.about-barras{
        
        position: absolute;
        right: 0.5rem;
        cursor: pointer;
        height: 100%;
        padding: 0 .5rem;
        display: flex;
        align-items: center;
        img.barras{
            height: 20px;
            filter: invert(1);
        }

        .hide{
			display: none;
		}
    }
}


section.extra{
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    background-color: white;
    position: fixed;
    padding: 0.5rem 1rem;
    top: 45px;
    z-index: 2;
    right: 100vw;

    .extra-links{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 3rem;

        a{
            
            font-size: 1.2rem;
            text-transform: uppercase;
        }

        > *{
            margin-bottom: 1rem;
        }

        &:last-child{
            margin-bottom: 0;
        }
    }

    >a{
        display: block;
    }

    p.personal{
        margin-top: 2rem;
    }
}

section.extra.initial-pos{
    right: 0px;
}

@media (min-width:650px){
    section.extra{
        height: fit-content;
        width: fit-content;
        width: 200px;

        p.personal{
            display: none;
        }
    }

    section.extra.initial-pos{
        right: 0;
    }
}

@mixin random-bgr(){
    background: rgb(random(255), random(255), random(255));
}

$count: 15;

// @for $i from 1 through $count {
//     li{
//         &:nth-child(#{$i}){
//             background-color: rgb( 50 + random(155), 50 + random(155), 50 + random(155));
        
//     }
// }

main{
    padding: 1rem;
}


.notas-container{
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    // gap: 0.5rem;

    margin: 1rem 0;

    .nota-li{
        border-radius: 7px;
        padding: 0.75rem;
        width: 47%;
        margin-bottom: 10px;
        color: black;

        a{
            text-decoration: none;
            font-size: 1.1rem;
            font-weight: 800;
            h2{
                color: black;
            }

            p{
                text-align: right;
                margin-top: .75rem;
                color: #373c3e;
            }
        }
    }
}

$color1: #ffab91;
$color2: #ffcc80;
$color3: #e7ed9b;
$color4: #cf94da;
$color5: #81deea;

@media(min-width: 700px){
    .notas-container{
        .nota-li{
            width: 32%;
            a{
                p{
                    font-size: 1.4rem;
                }
            }

            
            &:nth-child(1n+0){
                background-color: $color1;
            }
            &:nth-child(2n+0){
                background-color: $color2;
            }
            &:nth-child(3n+0){
                background-color: $color3;
            }
            &:nth-child(4n+0){
                background-color: $color4;
            }
            &:nth-child(5n+0){
                background-color: $color5;
            }
            
        }

        
    }
}


div.add-note{
    background: white;
    width: fit-content;
    padding: 0.75rem;
    border-radius: 41px;
    position: fixed;
    bottom: 2rem;
    right: 3rem;

    img{
        height: 35px;
    }
}


.nota-detail{
    .nota-detail-header{
        margin: 1rem 0;
    }

    .date-published{
        color: #cfcfcf;
    }

    .nota-texto-container{
        padding: 1rem 0;
    }
}

section.extra *{
    color: black;
}

.helptext{
    display: none;
}

section.register-section{
    

    .register-header{

        padding-bottom: 1rem;
        border-bottom: 1px solid white;
        margin-bottom: 1rem;
        h2{
            margin-bottom: .5rem;
        }

    }
    form{
        max-width: 300px;
        margin: 0 auto;

        p{
            margin-bottom: 1rem;
            label{
                display: block;
                margin-bottom: .25rem;

                position: relative;
            }
        }

        
    }
}

input{
    color: black;
    padding: .25rem;
    width: 100%;
}

input.signup-button, input.submit-note-button{
    background-color: black;
    border: none;
    color: white;
    padding: .75rem;
    border-radius: 10px;
    cursor: pointer;
}

.nota-section{
    .form-nota-section{
        form{
            
            max-width: 420px;
            margin: 0 auto;
            margin-top: 3rem;
        }
        .input-field{
            color: black;
            width: 100%;
            padding: 0.5rem;
        }

        label{
            display: none;
        }
    }
}



    form{
        
        max-width: 420px;
        margin: 0 auto;
        margin-top: 3rem;
    }
    .input-field{
        color: black;
        width: 100%;
        padding: 0.5rem;
    }

    label{
        display: none;
    }


.inside-footer{
    max-width: 920px;
    padding: 1rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    .links-container{
        
    }
}