{% extends "base_generic.html" %}

{% block content %}

<div class="notas-header">
    <h3>Mis notas</h3>
    <h4><a href="{% url 'create-note' %}" class="crear-link">Write a note</a></h4>
    
</div>

{% if notas %}
<ul class="notas-container">
    {% for nota in notas %}
        <li class="nota-li"><a href="{{ nota.get_absolute_url }}" class="link-nota"><h2>{{ nota.titulo }}</h2><p>{{ nota.fecha }}</p></a></li>
    {% endfor %}
    </ul>

    {% else %}
    <p>No tienes notas</p>

{% endif %}

{% endblock %}