<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Local Library</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% load static %}
  <script src="{% static 'js/jquery.js' %}"></script>
</head>
<body>

  <header class="pagina-logo">
    <h1><a href="{% url 'index' %}" class="notas-link">Notas</a></h1>
    
    <!--<img src="{% static 'img/barras.svg' %}" alt="" class="barras">-->

    {% if not user.is_authenticated %}
    <div class="iniciar-sesion">
      <a href="{% url 'login' %}"><h4>Log in</h4></a>
    </div>

    {% endif %}

    <nav class="about-barras">
      {% load static %}
			<img src="{% static 'img/barras.svg' %}" alt="barras" class="barras">
      {% load static %}
			<img src="{% static 'img/x.svg' %}" alt="Close" class="barras hide">
		</nav>

  </header>
  <main class="notas-container">
      {% if user.is_authenticated %}
      <h3>Hola {{ user.get_username }}</h3>

      {% else %}
      <h4 class="no-log">You're not logged in. <a href="{% url 'login' %}" class="login-link">Log in</a> and enjoy the full experience.</h4>

      {% endif %}
      

      {% block content %}
      {% endblock %}
  </div>
</main>

<section class="extra">
  {% if user.is_authenticated %}
  <a href="{% url 'mis-notas' %}" class="mis-notas-link">Mis notas</a>
  <a href="{% url 'logout' %}" class="logout-link">Log out</a>

  {% else %}

  <p><a href="{% url 'login' %}" class="login-link">Log in</a> or <a href="{% url 'register' %}" class="login-link">register</a></p>

  {% endif %}

  <p class="personal">Work in progress, made by Ildebrando Quinchoa. All rights reserved, for more of my work visit my <a href="https://ildebr.github.io/portfolio" class="portafolio-link">portfolio.</a></p>
</section>
{% load static %}
<script src="{% static 'js/js.js' %}"></script>

</html>