{% extends "base_generic.html" %}
{% block content %}

{% if user.is_authenticated %}
      <h3>Hola {{ user.get_username }}</h3>

      {% else %}
      <h4 class="no-log">You're not logged in. <a href="{% url 'login-c' %}" class="login-link">Log in</a> and enjoy the full experience.</h4>

      {% endif %}
<div class="notas-header">
    <h3>This is a list of public notes published by users. To save and keep private notes log in.</h3>
    <h4><a href="{% url 'create-note' %}" class="crear-link">Write a note</a></h4>
    
</div>


{% if notas %}
<ul class="notas-container" >
{% for nota in notas %}
    <li class="nota-li" >
        <a href="{{ nota.get_absolute_url }}" class="link-nota">
            <h2>{{ nota.titulo }}</h2>
            <p>{{ nota.fecha }}</p>
        </a>
    </li>
{% endfor %}
</ul>
{% endif %}

<div class="add-note">
    <a href="{% url 'create-note' %}">
        {% load static %}
        <img src="{% static 'img/note-add.svg' %}" alt="">
    </a>
</div>
{% endblock %}