{% extends "base_generic.html" %}

{% block content %}

{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>

{% endif %}

<section class="register-section">
  <header class="register-header">
    <h2>Sign up</h2>
    <p>Become a member and enjoy the full potential of notes.</p>
  </header>
  <form action="" method="post">
    {% csrf_token %}
    <table>
    {{ form.as_p }}
    </table>
    <input type="submit" value="Sign up" class="signup-button" >
  </form>
</section>


{% endblock %}
